<div class="showcase"></div>
<div class="content">
    <div class="title">        
        Bio
    </div>
    <div>
        <p class="text">
          Soy Actor, Voice Artist, Comediante y Speaker. Un Artista Multifacético y Empresario, amante de la comedia que ha trabajado por más de 15 años en la industria del entretenimiento de Latinoamérica.
        </p>
        <p class="text">
          He creado, escrito, producido, actuado, y dirigido contenidos en distintos formatos, para llegar a millones de personas a través del entretenimiento. Esta es mi forma de darle al mundo un poco de maravillas.
        </p>
        <p class="text">
          Soy un hombre universal que ama expresarse artísticamente con un lenguaje que funcione en todo el planeta, creo en la comedia como el arte más bello y siempre sueño con ideas que puedan hacer de este un mundo mejor.
        </p>
        <p class="text">
          <i>¡La vida Brilla si le pones comedia!</i>
        </p>
    </div>   
</div>