@import "variables";
:host {
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
    height: 50px;
    background-color: $purple;
    text-align: center;
    padding-top: 10px;
    .social {
        display: inline-block;
        width: 40px;
        margin-right: 10px;
        overflow: hidden;                
        svg {
            fill: white;
            width: 100%;
            height: auto;
        }
    }
}