@import "variables";
:host {
    width: 100%;
    height: 50px;
    background-color: $purple;
    text-align: center;
    padding-top: 10px;
    display: block;
    .social {
        display: inline-block;
        width: 30px;
        margin-right: 10px;
        overflow: hidden;  
        color:white;
    }
}