@import "variables";
:host {
    .showcase {
        width: 100%;
        height: 56px;
        background-color: $purple;
        background-size: cover; 
        @media (orientation: landscape) { 
            height: 56px;
        }        
    }
    .aditional-info {
        font-size: 13px;
    }
    .content {
        padding: 10px 20px 20px;
    }
    .contact-form {
        .input {
            margin-bottom: 10px;
        }
    }
}