@import "variables";
:host {
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    color:white;
    z-index: 2;
    .example-spacer {
        flex: 1 1 auto;
      }
    .sidenav {
        min-width: 80%;  
    }
    mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-multiple-rows {
        transition: all .3s;
        &.transparent{
            background-color: transparent;
            background: linear-gradient(0deg, rgba(45,41,85,0) 0%, rgba(45,41,85,0.4) 100%, rgba(45,41,85,0.4) 100%);
        }
        
        
    }

}