@import "variables";
:host {
  height: 45px;
  .panel-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: $white;
    z-index: 4;
    transition: height 0s ease-in-out, background-color 0.2s ease-in-out;
    border-top: 1px solid $purple;

    &.active {
      background-color: $orange;
      height: 100vh;
      .open-action-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        .closed {
          display: none;
        }
        .opened {
          border-bottom: 1px solid $purple;
          display: block;
        }
      }
    }
    .opened-content {
      padding-top: 100px;
    }
    .open-action-panel {
      line-height: 45px;
      color: $purple;
      text-align: center;
      .mat-icon {
        position: relative;
        top: 5px;
      }
      .closed {
        display: block;
        font-size: 11px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 600;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
      }
      .opened {
        display: none;
      }
    }
  }
}
::ng-deep .panel-bottom .mat-list-item-content {
  justify-content: center;
  font-weight: 600;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: $white;
}
