@import "variables";
:host {
  .showcase {
    width: 100%;
    height: calc(100vw * (4 / 3));
    background-image: url("/assets/VOICE-ARTIST-MOVIL-5.jpg");
    background-size: cover;
    @media (orientation: landscape) {
      height: calc(100vw * (4 / 3));
    }
  }
  .content {
    padding: 20px;
    padding-bottom: 0;
  }
  .reel-actor {
    margin-left: -20px;
    margin-right: -20px;
    .reel-actor-container {
      margin-top: 30px;
      margin-bottom: 0px;
      .category-title {
        margin-left: 20px;
        margin-bottom: 20px;
      }
      iframe {
        margin-bottom: 30px;
        width: 100vw;
        height: calc((100vw) * 9 / 16);
      }
    }
  }
  .sircomedia {
    .sub-title {
      margin-bottom: 20px;
    }
  }
  .tomame-button {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .t-icon {
    display: inline-block;
    font-size: 24px;
    border: 1px solid $purple;
    line-height: 45px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #dddddd;
    color: black;
    text-align: center;
    margin-left: 0px;
    margin-top: 30px;
    &.faWikipediaW fa-icon {
      position: relative;
      top: 2px;
      font-size: 23px;
    }
    &:last-child {
      margin-left: 20px;
    }
  }
}
