@import "variables";
:host {
  width: 100%;
  background-color: $purple;
  text-align: center;
  padding-top: 30px;
  display: block;
  padding-bottom: 50px;
  @media screen and (min-width: 768px) {
    text-align: left;
    padding-bottom: 30px;
  }
  .logo-footer {
    @media screen and (min-width: 768px) {
      text-align: center;
    }

    svg:focus {
      outline: none;
    }
  }
  footer {
    position: relative;
    @media screen and (min-width: 768px) {
      width: auto;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  .slogan {
    font-style: italic;
    color: white;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
  }
  .social-container {
    @media screen and (min-width: 768px) {
      position: absolute;
      bottom: 40px;
      right: 40px;
    }
  }
  .social {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
    overflow: hidden;
    a {
      color: white;
      font-size: 24px;
      transition: color 0.3s;
    }
    @media screen and (min-width: 768px) {
      a:hover {
        color: $mid-gray;
      }
    }
  }
  .copyright {
    font-size: 12px;
    color: $light2-gray;
    margin-top: 40px;
    text-align: center;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      width: 100%;
      text-align: left;
      br {
        display: none;
      }
    }
    .terminos {
      margin-bottom: 30px;
      font-size: 10px;
      text-transform: uppercase;
      transition: color 0.3s;
      cursor: pointer;
      @media screen and (min-width: 768px) {
        &:hover {
          color: $white;
        }
      }
    }
    .rights {
      font-size: 25px;
      line-height: 0px;
      position: relative;
      top: 8px;
    }
    .sircomedia {
      font-size: 16px;
    }
  }
  .contact-button {
    border: 1px solid white;
    border-radius: 0;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 11px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 32px;
    max-width: 100%;
    @media screen and (min-width: 768px) {
      position: absolute;
      bottom: -20px;
      right: 50px;
    }
  }
  .divider-full {
    display: block;
    width: calc(100% - 40px);
    height: 1px;
    background-color: #979797;
    margin: 13px auto 20px;
    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }
}
