@import "variables";
:host {
    width: 100%;
    background-color: $purple;
    text-align: center;
    padding-top: 10px;
    display: block;
    padding-bottom: 10px ;
    .slogan {
        font-style: italic;
        color: white;
        padding: 10px 0;
        font-size: 13px;
    }
    .social {
        display: inline-block;
        width: 40px;
        margin-right: 10px;
        overflow: hidden;                
        svg {
            fill: white;
            width: 100%;
            height: auto;
        }
    }
    .copyright {
        font-size:12px;
        color:white;
    }
}