@import "variables";
:host {
  .go-to-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    border: 1px solid $purple;
    line-height: 37px;
  }
}
