<div>      
    <img class="fran" src="assets/fran.png" [wmAnimate]="'bounceIn'">       
    <mat-card>
        <mat-card-title>ACTOR</mat-card-title>
        <p>
          Soy Actor, Voice Artist, Comediante y  Speaker. Un Artista Multifacético y Empresario, amante de la comedia que ha trabajado por más de 15 años en la industria del entretenimiento de Latinoamérica.   
        </p>
        <p>
          He creado, escrito, producido, actuado, y dirigido contenidos en distintos formatos, para llegar a millones de personas a través del entretenimiento.
        </p>
        <p>
          Soy un hombre universal que ama expresarse artísticamente con un lenguaje que funcione en todo el planeta; y lo hago porque es mi forma de darle al mundo maravillas.
        </p>
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'beat'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'bounce'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'flip'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'headShake'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'heartBeat'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'jello'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'pulse'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'rubberBand'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'shake'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'swing'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'tada'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'wobble'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'bumpIn'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'bounceIn'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'fadeIn'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'flipIn'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'jackInTheBox'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'landing'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'rollIn'" aos> 
        <img class="fran-demo" src="assets/fran.png" [wmAnimate]="'zoomIn'" aos> 
    </mat-card> 
    
</div>
