@import "variables";
:host {
  .showcase {
    width: 100%;
    height: calc(100vw * (4 / 3));
    background-image: url("/assets/PORTADA+MENU-MOVIL-7.jpg");
    background-size: cover;
    @media (orientation: landscape) {
      height: calc(100vw * (4 / 3));
    }
  }
  .content {
    padding: 20px;
  }
  .reel-actor {
    margin-left: -20px;
    margin-right: -20px;
    .reel-actor-container {
      margin-top: 30px;
      margin-bottom: 40px;
      .category-title {
        margin-left: 20px;
      }
    }
  }
  .trayectoria {
    padding-top: 20px;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 30px;
    text-align: center;
    .t-photo {
      padding-top: 20px;
      padding-bottom: 40px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .t-icon {
      font-size: 30px;

      &:last-child {
        margin-left: 20px;
      }
    }
  }
  .seccion-fotos {
    margin-top: 20px;
    margin-bottom: 20px;
    .sub-title {
      margin-bottom: 10px;
    }
    .reel-fotos {
      margin-left: -20px;
      margin-right: -20px;
      .r-photo {
        padding-bottom: 40px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
