@import "variables";
:host {
  .showcase {
    width: 100%;
    height: calc(100vw * (4 / 3));
    background-image: url("/assets/PORTADA+MENU-MOVIL-7.jpg");
    background-size: cover;
    @media (orientation: landscape) {
      height: calc(100vw * (4 / 3));
    }
  }
  go-back {
    position: fixed;
    margin-top: 56px;
    display: block;
    z-index: 7;
  }
  .content {
    padding: 20px;
  }
  .reel-actor {
    margin-left: -20px;
    margin-right: -20px;
    .reel-actor-container {
      margin-top: 40px;
      margin-bottom: 0px;
      .category-title {
        margin-left: 20px;
        margin-bottom: 20px;
      }
      iframe {
        margin-bottom: 30px;
        width: 100vw;
        height: calc((100vw) * 9 / 16);
      }
    }
  }
  .trayectoria {
    padding-top: 20px;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 30px;
    text-align: left;
    .sub-title {
      margin-bottom: 0px;
      text-align: left;
      margin-left: 20px;
    }
    .t-photo {
      padding-top: 20px;
      padding-bottom: 50px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .t-icon {
      display: inline-block;
      font-size: 24px;
      border: 1px solid $purple;
      line-height: 45px;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      background-color: #dddddd;
      color: black;
      text-align: center;
      margin-left: 20px;
      &.faWikipediaW fa-icon {
        position: relative;
        top: 2px;
        font-size: 23px;
      }
      &:last-child {
        margin-left: 20px;
      }
    }
  }
  .seccion-fotos {
    margin-top: 0px;
    margin-bottom: 20px;
    .sub-title {
      margin-bottom: 20px;
    }
    .reel-fotos {
      margin-left: -20px;
      margin-right: -20px;
      .r-photo {
        padding-bottom: 50px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .tomame-button {
    margin-bottom: 40px;
  }
}
