<div >  
    <div id="home-1" class="home-1" #home1>
      <video autoplay loop playsinline muted id="homeVideo" #homevideo >
        <source src="/assets/entrada.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
      <!-- <img class="fran" src="assets/fran.png" [wmAnimate]="'fadeIn'"> -->
    </div>
    <div id="home-2" class="home-2" #home2 >
      <mat-nav-list class="que-fran-quieres">
        <mat-list-item (click)="queFran=!queFran"> 
          ¿Que Fran quieres? 
          <mat-icon class="arrow-down-up">{{queFran ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
        </mat-list-item>      
      </mat-nav-list>
      <div wmAnimate="landing" speed="faster" *ngIf="queFran">
        <mat-nav-list class="que-fran-quieres-list" >
          <mat-list-item (click)="goTo('category-1')"> 
            Actor     
          </mat-list-item>
          <mat-list-item (click)="goTo('category-2')"> 
            Voice Artist     
          </mat-list-item>
          <mat-list-item (click)="goTo('category-3')"> 
            Speaker      
          </mat-list-item>
          <mat-list-item (click)="goTo('category-4')"> 
            Comediante     
          </mat-list-item>
          <mat-list-item (click)="goTo('category-5')"> 
            Sircomedia    
          </mat-list-item>
        </mat-nav-list> 
      </div>      

        <mat-card>
          <div class="categories">               
              <mat-card class="categories-item" *ngFor="let category of categories; let index = index" id="category-{{index}}">
                <mat-card-title>{{category.title}}</mat-card-title>
                <mat-card-content>
                  {{category.description}}
                </mat-card-content>
                <swiper [config]="config" [(index)]="index">
                  <div>
                    <img class="foto" src="assets/foto.jpg" alt="" >
                  </div>
                </swiper>
                
                
                <mat-card-actions>
                  <button class="damelo-todo" mat-raised-button color="primary">Damelo Todo!</button>
                </mat-card-actions>
              </mat-card> 
          </div>
          <mat-card class="mini-bio">            
            <mat-card-content>
              Soy un artista multifacético y empresario, amante de la comedia, que ha trabajado por más de 15 años en la industria del entretenimiento de Latinoamérica.
            </mat-card-content>            
          </mat-card>
        </mat-card>
        <button mat-fab class="go-to-top">
          <mat-icon (click)="goToTop()">arrow_upward</mat-icon>
        </button>
        
    </div>   
</div>