@import "variables";
:host {
    background-image: url("/assets/back.jpg");
    background-size: cover;
    display: block;
    .home-1 {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-bottom: -7px;
        #homeVideo {
            position: relative;
            top:0px;
            width: 100%;            
            height: auto;
            z-index: 0;  
            margin-bottom: -7px;          
        }
        .fran {
            position: absolute;
            bottom: 60px;
            left: -42px;
            width: 110%;
            display:none;
            @media (orientation: landscape) { 
                display:none;
            }
        }
    }
    .home-2 {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        // background-image: url("/assets/back.jpg");
        // background-image: url("/assets/home-2.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain; 
        .category-back {
            width: 100%;
        }
        .category {
            position: absolute;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 20px;
            color: $light-yellow;
            text-shadow: 3px 2px #2d2955;
            &.actor {
                top:70px;
                left: 10px;
            }
            &.voice-artist {
                top:70px;
                right: 10px;
            }
            &.speaker {
                bottom: 70px;
                left: 10px;
            }
            &.comediante {
                bottom: 70px;
                right: 10px;
            }
        }   
    }
    .categories {
        .foto {
            width: 100%;
            padding: 10px 0;
        }
        .damelo-todo {
            float: right;
        }
    }
        
    
}