@import "variables";

:host {
    // background-image: url("/assets/back.jpg");
    background-size: cover;
    display: block;
    .que-fran-quieres {
        background-color: $light-gray;
        padding-top: 0;
        .arrow-down-up {
            margin-left: auto;
        }
    }
    .foto-swiper {
        width: 100%;
        height: auto;
    }
    .swiper-card {
        margin-left: -16px;
        margin-right: -16px;
    }
    
    .que-fran-quieres-list {
        background-color: white;
        padding-top: 0;
        .mat-list-item:nth-child(1) {
            border-left: 4px solid $gray;
        }
    }
    .go-to-top {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .home-1 {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-bottom: -7px;
        #homeVideo {
            position: relative;
            top:0px;
            width: 200%;            
            height: auto;
            z-index: 0;  
            margin-bottom: -7px;   
            left: -50%;       
        }
        .fran {
            position: absolute;
            bottom: 60px;
            left: -42px;
            width: 110%;
            display:none;
            @media (orientation: landscape) { 
                display:none;
            }
        }
    }
    .home-2 {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        // background-image: url("/assets/back.jpg");
        // background-image: url("/assets/home-2.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain; 
        .category-back {
            width: 100%;
        }
        .category {
            position: absolute;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 20px;
            color: $light-yellow;
            text-shadow: 3px 2px #2d2955;
            &.actor {
                top:70px;
                left: 10px;
            }
            &.voice-artist {
                top:70px;
                right: 10px;
            }
            &.speaker {
                bottom: 70px;
                left: 10px;
            }
            &.comediante {
                bottom: 70px;
                right: 10px;
            }
        }   
    }
    .categories {
        .categories-item {
            margin-bottom: 20px;
        }
        .foto {
            // width: 100%;
        }
        .damelo-todo {
            margin-left: auto;
            display: block;
        }
    }
        
    
}