@import "variables";
:host {
    display: block;
    position: relative;
    z-index: 3;
    height: 30px;
    width: 100%;
    background-color: $purple;
    text-align: right;
    .social-item {
        display: inline-block;
        margin-right: 10px;
        margin-top: 3px;
        a {
            color:white;
        }
    }
    
}
