@import "variables";
:host {
    .showcase {
        width: 100%;
        height: 56px;
        background-color: $purple;
        background-size: cover; 
        @media (orientation: landscape) { 
            height: 56px;
        }        
    }
    .content {
        padding: 20px;
    }
    .team-list {
        .team-item {            
            margin-bottom: 40px;
            @media (orientation: landscape) { 
                width: 47.5%;
                display: inline-block;
                margin-right: 5%;
                vertical-align: top;
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
            .team-image {
                width: 100%;
                margin-bottom: -7px;
            }
            .team-title {
                font-size: 13px;
                line-height: 1.23;
                letter-spacing: 2px;
                color: #4c4d4e;
                text-align: left;
                text-transform: uppercase;
                margin-top: 16px;
                margin-bottom: 8px;
            }
            .team-text {
                font-size: 22px;
                line-height: 1.27;
                letter-spacing: -0.1px;
                color: #181818;
                text-align: left;
                margin-top: 0;
                margin-bottom: 0;
            }
            ::ng-deep .mat-card-header-text {
                margin: 0;
            }
            ::ng-deep .mat-card-title {
                margin: 0;
            }
        }
    }
    .go-to-top {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 30px;
        border: 1px solid $purple;
        line-height: 37px;
    }
}